bcrypt==4.1.2
pymongo==4.6.1
requests==2.31.0
robotframework==6.1.1
robotframework-browser==17.5.2
robotframework-faker==5.0.0
robotframework-jsonlibrary==0.5
robotframework-pythonlibcore==4.2.0
robotframework-requests==0.9.5
robotframework-seleniumlibrary==6.2.0
